PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/convene
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN=7d
CLIENT_URL=https://real-time-video-conference-app-1.onrender.com,https://real-time-video-conference-app.onrender.com
DATA_ENCRYPTION_KEY=51da4d3e35f90b204b11f898ddae83002b22074e96e5e23adfc865c11ddd03b7
